node_modules
*.beam
*.pyc
.vscode/
target/
.settings/
java/jacoco.exec
.project
.classpath
php/vendor/
php/composer.lock
.idea
obj/
csharp/bin/Debug/
ts/dist/*
ts/*.js
ts/.nyc_output/
ts/coverage/
java/*.iml
.history/
*.sum
.libraries.json
libraries/
.DS_Store
coverage.html
coverage.out

/csharp/**/bin/
/csharp/**/obj/
/csharp/**/.vs/